<% include partials/_header %>

<div class="container">
  <header class="jumbotron">
    <h1>--Menu</h1>
    <p>Take inspiration from all over the world!!!</p>
    <% if (currentUser && currentUser.isAdmin) { %>
      <a class="btn btn-primary" href="/menu/new">Add new coffee</a>
    <% } %>
      <a class="btn btn-primary" href="/order">Make an order</a>
  </header>
  
  <form>
    <input type="hidden" name="prodId1" value="1">
  </form>

  <div class="row" style="display: flex; flex-wrap: wrap;">
    <% menu.forEach( (item) => { %>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img src="<%= item.image %>" />
        <h2 class="caption"><%= item.name %></h2>
        <h4 class="caption">$<%= item.price %></h4>
        <a href="/menu/<%= item._id %>">More info</a>
      </div>
    </div>
    <% }); %>
  </div>
</div>

<script>
  function add() {
    console.log("added function");
  }
  function myFunc() {
    alert("Hello!");
  }
</script>

<% include partials/_footer %>
