<% include partials/_header %>
<div class="container">
  <h1>Add new coffee</h1>

  <form
    action="/menu"
    method="POST"
    style="width: 30%; margin: 20px; padding: 5px"
  >
    <div class="form-group">
      <label>Coffee name:</label>
      <input
        class="form-control"
        type="text"
        name="newcoffee"
        placeholder="coffee name"
        required
      />
    </div>
    <div class="form-group">
      <label>Image url:</label>
      <input
        class="form-control"
        type="text"
        name="image"
        placeholder="img url"
        required
      />
    </div>
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" name="description" placeholder="description" required></textarea>
    </div>
    <div class="form-group">
      <label>Price:</label>
      <input
        class="form-control"
        type="text"
        name="price"
        placeholder="price"
        required
      />
    </div>
    <button class="form-control btn btn-primary">Create</button>
  </form>
  <a href="/menu">Back to menu</a>
</div>

<% include partials/_footer %>
