.thumbnail img {
    width: 100%;
}

body {
    margin-top: 65px;
}
#showinfo {
    padding: 0px;
}

#orderForm {
    position: fixed;
    right: 20px;
}

.thumbnail .caption-full {
    padding: 9px;
}